PORT=YOUR PORT NUMBER

# ====== Frontend URl for local and production ========
FRONTEND_URL_LOCAL=YOUR FRONTEND URL LOCAL
FRONTEND_URL_PRODUCTION=YOUR FRONTEND URL PRODUCTION

# ======= MONGODB environment variable ==========
MONGODB_USERNAME = YOUR MONGODB_USERNAME
MONGODB_PASSWORD = YOUR MONGODB_PASSWORD
MONGODB_URL = YOUR MONGODB_URL

# ======= Cloudinary environment variable ========
CLOUDINARY_CLOUD_NAME = YOUR CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY = YOUR CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET = YOUT CLOUDINARY_API_SECRET

# ======= Access Token and Refresh Token environment variable ========
ACCESS_TOKEN_SECRET = YOUR ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY = YOUR ACCESS_TOKEN_EXPIRY

REFRESH_TOKEN_SECRET = YOUR REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRY = YOUR REFRESH_TOKEN_EXPIRY

